MONGO_URI="mongodb+srv://nandaniocena:husnsalon@cluster0.iq7z74o.mongodb.net/ocenacrm?appName=Cluster0"
JWT_SECRET="a88af0c59d85d88318edb6e5997f8f08ce33227c779591a6bd07e99644d7bb05"
REFRESH_TOKEN_SECRET="f0c0a96cd422209d65f93e168f17b4252f4a294ec10e0e84f050f2a5284f4b5e"
PORT=8000
SMTP_HOST=REFRESH_TOKEN_SECRET
SMTP_PORT=587
SMTP_USER=REFRESH_TOKEN_SECRET  
SMTP_PASS=ImHXE2OFTghXGMGvoFOebkkxNh2
TWILIO_ACCOUNT_SID=ImHXE2OFTghXGMGvoFOebkkxNh2
TWILIO_AUTH_TOKEN=ImHXE2OFTghXGMGvoFOebkkxNh2
TWILIO_FROM=nuPTVkJLmvwc2qcTfQRzu5mAsYJhe9To9xiA6NqO5AoGAPrlGrWcY62lCa
STRIPE_SECRET_KEY=ImHXE2OFTghXGMGvoFOebkkxNh2
REDIS_URL="redis://localhost:6379"


MONGODB_URI="mongodb+srv://nandaniocena:husnsalon@cluster0.iq7z74o.mongodb.net/ocenacrm?appName=Cluster0"
