
MONGO_URI=""

JWT_SECRET=""
REFRESH_TOKEN_SECRET=""

PORT=8000
NODE_ENV=development

BREVO_API_KEY=
EMAIL_FROM_NAME=
EMAIL_FROM_EMAIL=

TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_FROM=+1234567890
TWILIO_WHATSAPP_NUMBER=whatsapp:+1234567890


STRIPE_SECRET_KEY=sk_test_your-stripe-secret-key
