MONGO_URI="mongodb+srv://nandaniocena:husnsalon@cluster0.iq7z74o.mongodb.net/ocenacrm?appName=Cluster0"
JWT_SECRET="change-me"
REFRESH_TOKEN_SECRET="change-me-too"
PORT=8000
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
STRIPE_SECRET_KEY=
REDIS_URL="redis://localhost:6379"


MONGODB_URI="mongodb+srv://nandaniocena:husnsalon@cluster0.iq7z74o.mongodb.net/ocenacrm?appName=Cluster0"
